# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Test results
**/*-eo.c
**/c_result.txt
**/eo_result.txt
**/*-c.txt
**/*-eo.txt
**/*.i

# Executables
*.exe
*.out
*.app

# c2eo and temp eo files
project/bin/*

#LLVM directory
llvm-clang/**
!llvm-clang/.gitkeep

# User-specific stuff
**/.vscode/**
**/.idea/**
**/cmake-build-debug/**
**/CMakeFiles/**
**/build/**
!**/build/.gitkeep
**/src/result/**
*.bak

*.cmake
CMakeCache.txt
Makefile
Makefile2

# Sensitive or high-churn files
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin
.idea/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# EO target directory
**/target**

# EO project files
result/**/*
project/**/global.eo
*.glob
*.stat

# Test temp files and dirs
project/tests/scripts/env/*.c
project/tests/scripts/env/*.txt
project/tests/**/*.eo


# Python cache
**/__pycache__

# Log files
*.log

# release stuff
*.so
*.so.*

# python
*venv*/

*.alias

result/run.sh
