name: Build C2EO

on:
  pull_request:
    branches:
      - master

  schedule:
    - cron:  '0 23 * * *'

jobs:
  build:
    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        config:
          - { name: "Ubuntu", os: ubuntu-latest, cc: "gcc", cxx: "g++", archiver: "7z a" }

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: c2eo
 
      - name: Move c2eo dir
        run: mv c2eo ~

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: llvm-clang.tar.gz
          key: ${{ runner.os }}-llvm-clang

      - name: Unpack LLVM
        run: |
          sudo chmod ugo+rwx llvm-clang.tar.gz
          tar -xvf llvm-clang.tar.gz -C ~ > /dev/null
          
      - name: Test c2eo
        run: |
          cd ~/c2eo/project/scripts
          sudo ./test.py
