name: csmith

on:
  workflow_call:

jobs:
  csmith:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: MarkusJx/googletest-installer@v1.1

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v3
        with:
          path: llvm-clang.tar.gz
          key: ${{ runner.os }}-llvm-clang

      - name: Unpack LLVM
        run: sudo chmod ugo+rwx llvm-clang.tar.gz && tar -xvf llvm-clang.tar.gz -C . > /dev/null

      - name: Install csmith
        run: |
          cd ..
          git clone https://github.com/csmith-project/csmith.git
          cd csmith
          cmake -DCMAKE_INSTALL_PREFIX=csmith .
          make

      - name: Generating tests
        run: cd ./project/scripts && python3 csmith.py ../tests/main/csmith -c 100
        
      - name: Transpilation
        run: cd ./project/scripts && python3 transpile.py ../tests/main/csmith -n || true

      - name: Clean test directory
        run: cd ./project/scripts && python3 clean_before_transpilation.py -p ../tests/main/csmith

      - name: Make archive from csmith tests
        run:  tar -cf csmith.tar.gz ./project/tests/main/csmith

      - uses: actions/upload-artifact@v3
        with:
          name: csmith
          path: csmith.tar.gz
